@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }


/* NAVBAR */

.header-container{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 7em;
    z-index: 1px;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

.header-right {
    padding: 0px 0px 0px 120px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.header-left {
    padding: 0px 120px 0px 0px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}


.header-nav-inner{
    padding: 13px 24px;
}

a+a {
    margin-left: 30px;
}

.header-mid{
    color: #3F7742;
    font-size: 1.5em;
    font-family:  'Righteous', cursive;
}

.header-nav{
    font-weight: 200;
    font-size: 20x;
}

/* Home */
.home-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%; /*whatever dimensions you want*/
    height:100%;
    color: #3F7742;
    font-size: 3.5em;
    font-family:  'Righteous', cursive;
    padding-bottom: 100px;
}

.word-one {
    margin-top: 12%;

}

.nav-link{
    text-decoration: none;
    color: black;
}

.time-open {
    padding-top: 20px;
    color: #E07A15;
    font-size: .5em;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}


/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    margin-top: auto;
    padding-bottom: 8em;
    line-height: 1.5em;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}